[submodule "vim/.vim/bundle/vundle"]
	path = vim/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/.vim/bundle/winmanager"]
	path = vim/.vim/bundle/winmanager
	url = https://github.com/vim-scripts/winmanager.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/L9"]
	path = vim/.vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "vim/.vim/bundle/fuzzy-finder"]
	path = vim/.vim/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/.vim/bundle/vim-coffee-script"]
	path = vim/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/.vim/bundle/vim-better-whitespace"]
	path = vim/.vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim/.vim/bundle/gyp"]
	path = vim/.vim/bundle/gyp
	url = https://github.com/kelan/gyp.vim.git
[submodule "vim/.vim/bundle/ultisnips"]
	path = vim/.vim/bundle/ultisnips
	url = https://github.com/sirver/ultisnips.git
[submodule "submodules/xfce4-terminal-colors-solarized"]
	path = submodules/xfce4-terminal-colors-solarized
	url = https://github.com/sgerrand/xfce4-terminal-colors-solarized.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/.tmux/plugins/tmux-yank"]
	path = tmux/.tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "vim/.vim/bundle/vim-autoformat"]
	path = vim/.vim/bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/hokein/.tmux.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/.vim/bundle/vimux"]
	path = vim/.vim/bundle/vimux
	url = https://github.com/benmills/vimux
[submodule "vim/.vim/bundle/gyp.vim"]
	path = vim/.vim/bundle/gyp.vim
	url = https://github.com/kelan/gyp.vim
